<div class="mb-1 d-flex" *ngIf="control.valid">
  <div nz-typography nzType="success">
    <i nz-icon nzType="check-circle" nzTheme="fill" class="me-1"></i>
  </div> <span>Password accepted!</span>
</div>
<div nz-typography class="mb-1 fw-bold">Your password must:</div>

<div nz-typography [nzType]="control.hasError('length') ? 'danger' : 'success'" class="mb-1">
  <i nz-icon [nzType]="control.hasError('length') ? 'warning' : 'check'" nzTheme="outline"></i> Be at least 8-10 characters long
</div>

<div nz-typography [nzType]="control.hasError('special') ? 'danger' : 'success'" class="mb-1">
  <i nz-icon [nzType]="control.hasError('special') ? 'warning' : 'check'" nzTheme="outline"></i> Have at least one special character
</div>

<div nz-typography [nzType]="control.hasError('number') ? 'danger' : 'success'" class="mb-1">
  <i nz-icon [nzType]="control.hasError('number') ? 'warning' : 'check'" nzTheme="outline"></i> Have at least one number
</div>

<div nz-typography [nzType]="control.hasError('lowercase') ? 'danger' : 'success'" class="mb-1">
  <i nz-icon [nzType]="control.hasError('lowercase') ? 'warning' : 'check'" nzTheme="outline"></i> Have at least one lowercase
</div>

<div nz-typography [nzType]="control.hasError('uppercase') ? 'danger' : 'success'" class="mb-1">
  <i nz-icon [nzType]="control.hasError('uppercase') ? 'warning' : 'check'" nzTheme="outline"></i> Have at least one uppercase
</div>