<h1>Change your password</h1>
<form nz-form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" class="reset-password-form">
  <nz-form-item>
    <nz-form-control>
      <input nz-input nzRequired placeholder="Password" formControlName="password" type="password" (ngModelChange)="validateConfirmPassword()"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="passwordMismatch">
      <input nz-input nzRequired placeholder="Password Confirmation" formControlName="passwordConfirmation" type="password"/>
      <ng-template #passwordMismatch let-control>
        <div *ngIf="control.hasError('mismatch')" class="validation-error">Passwords do not match</div>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <button nz-button [disabled]="resetPasswordForm.status === 'INVALID'" nzType="primary" class="change-password-btn">Continue</button>
    </nz-form-control>
  </nz-form-item>
</form>