<h1>Change your password</h1>
<form
  nz-form
  [formGroup]="resetPasswordForm"
  (ngSubmit)="resetPassword()"
  class="reset-password-form"
>
  <nz-form-item>
    <nz-form-control [nzExtra]="extraTemplate">
      <nz-input-group
        [nzSuffix]="suffixTemplate"
        nz-popover
        [nzPopoverContent]="contentTemplate"
        [nzPopoverVisible]="
          resetPasswordForm.controls['password']?.touched &&
          (passwordFocus || !resetPasswordForm.controls['password'].valid)
        "
        [nzPopoverTrigger]="null"
        nzPopoverPlacement="rightTop"
      >
        <input
          nz-input
          nzRequired
          placeholder="Password"
          formControlName="password"
          [type]="passwordVisible ? 'text' : 'password'"
          (focus)="passwordFocus = true"
          (blur)="passwordFocus = false"
        />
      </nz-input-group>
      <ng-template #suffixTemplate>
        <a nzType="primary" (click)="passwordVisible = !passwordVisible"
          >View Password</a
        >
      </ng-template>

      <ng-template #contentTemplate>
        <div
          class="mb-1 d-flex"
          *ngIf="resetPasswordForm.controls['password'].valid"
        >
          <div nz-typography nzType="success">
            <i nz-icon nzType="check-circle" nzTheme="fill" class="me-1"></i>
          </div>
          <span>Password accepted!</span>
        </div>
        <div nz-typography class="mb-1 fw-bold">Your password must:</div>

        <div
          nz-typography
          [nzType]="
            resetPasswordForm.controls['password'].hasError('length')
              ? 'danger'
              : 'success'
          "
          class="mb-1"
        >
          <i
            nz-icon
            [nzType]="
              resetPasswordForm.controls['password'].hasError('length')
                ? 'warning'
                : 'check'
            "
            nzTheme="outline"
          ></i>
          Be at least 8-10 characters long
        </div>

        <div
          nz-typography
          [nzType]="
            resetPasswordForm.controls['password'].hasError('special')
              ? 'danger'
              : 'success'
          "
          class="mb-1"
        >
          <i
            nz-icon
            [nzType]="
              resetPasswordForm.controls['password'].hasError('special')
                ? 'warning'
                : 'check'
            "
            nzTheme="outline"
          ></i>
          Have at least one special character
        </div>

        <div
          nz-typography
          [nzType]="
            resetPasswordForm.controls['password'].hasError('number')
              ? 'danger'
              : 'success'
          "
          class="mb-1"
        >
          <i
            nz-icon
            [nzType]="
              resetPasswordForm.controls['password'].hasError('number')
                ? 'warning'
                : 'check'
            "
            nzTheme="outline"
          ></i>
          Have at least one number
        </div>

        <div
          nz-typography
          [nzType]="
            resetPasswordForm.controls['password'].hasError('lowercase')
              ? 'danger'
              : 'success'
          "
          class="mb-1"
        >
          <i
            nz-icon
            [nzType]="
              resetPasswordForm.controls['password'].hasError('lowercase')
                ? 'warning'
                : 'check'
            "
            nzTheme="outline"
          ></i>
          Have at least one lowercase
        </div>

        <div
          nz-typography
          [nzType]="
            resetPasswordForm.controls['password'].hasError('uppercase')
              ? 'danger'
              : 'success'
          "
          class="mb-1"
        >
          <i
            nz-icon
            [nzType]="
              resetPasswordForm.controls['password'].hasError('uppercase')
                ? 'warning'
                : 'check'
            "
            nzTheme="outline"
          ></i>
          Have at least one uppercase
        </div>
      </ng-template>

      <ng-template #extraTemplate>
        <a routerLink="/login/recover-password" nzType="primary" class="mt-1"
          >Forgot password?</a
        >
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="passwordMismatch">
      <input
        nz-input
        nzRequired
        placeholder="Password Confirmation"
        formControlName="passwordConfirmation"
        type="password"
      />
      <ng-template #passwordMismatch let-control>
        <div *ngIf="control.hasError('mismatch')" class="validation-error">
          Passwords do not match
        </div>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <button
        nz-button
        [disabled]="resetPasswordForm.status === 'INVALID'"
        nzType="primary"
        class="change-password-btn"
      >
        Continue
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
