<div *ngIf="(isTokenValid$ | async) === false">
  <h1>Token is expired!</h1>
</div>
<div *ngIf="isTokenValid$ | async">
  <h1>Change your password</h1>
  <form
    nz-form
    [formGroup]="resetPasswordForm"
    (ngSubmit)="resetPassword()"
    class="reset-password-form"
  >
    <nz-form-item>
      <nz-form-control>
        <nz-input-group
          [nzSuffix]="suffixTemplate"
          nz-popover
          [nzPopoverContent]="contentTemplate"
          [nzPopoverVisible]="
            resetPasswordForm.controls['password']?.touched &&
            (passwordFocus || !resetPasswordForm.controls['password'].valid)
          "
          [nzPopoverTrigger]="null"
          nzPopoverPlacement="rightTop"
        >
          <input
            nz-input
            nzRequired
            placeholder="Password"
            formControlName="password"
            [type]="passwordVisible ? 'text' : 'password'"
            (focus)="passwordFocus = true"
            (blur)="passwordFocus = false"
          />
        </nz-input-group>
        <ng-template #suffixTemplate>
          <a nzType="primary" (click)="passwordVisible = !passwordVisible"
            >View Password</a
          >
        </ng-template>

        <ng-template #contentTemplate>
          <org-password-validator [control]="resetPasswordForm.controls['password']"></org-password-validator>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzErrorTip]="passwordMismatch">
        <input
          nz-input
          nzRequired
          placeholder="Password Confirmation"
          formControlName="passwordConfirmation"
          type="password"
        />
        <ng-template #passwordMismatch let-control>
          <div *ngIf="control.hasError('mismatch')" class="validation-error">
            Passwords do not match
          </div>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button
          nz-button
          [disabled]="resetPasswordForm.status === 'INVALID'"
          nzType="primary"
          class="change-password-btn"
        >
          Continue
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
