<div class="container inner-content">
  <h1 class="faq-header">Frequently Asked Questions</h1>
</div>
<div class="container inner-content">
  <div class="faq-wrapper" style="width: 100%">
      <div class="faq">
          <h4>Question: What is the Civic Explorer?</h4>
          Answer: The Civic Explorer is a product that allows you to gain insight into communities’ demographic breakdowns and levels of civic engagement. With the Civic Explorer, you can define and compare various communities using various geographic, demographic, and civic engagement metrics  – leveraging those insights to better plan programs and allocate resources.
      </div>
      <div class="faq">
          <h4>Question: What’s the Civic Score? How is it calculated?</h4>
          Answer: The Civic Score is an individual-level index that measures each individuals’ level of civic engagement. It’s composed of a diverse range of civic behaviors, including those that we can directly observe (like voting or donating) and those that we model based on broader contextual inference (like volunteering at a soup kitchen or contacting an elected official). When we roll this score up to the community-level, we can see how a given community compares to the national average or other communities in terms of how engaged they are in civic life.
      </div>
      <div class="faq">
          <h4>Question: How can I use the Civic Score?</h4>
          Answer: The Civic Score is a powerful starting off point for program planning. Rather than focusing on a single dimension of civic behavior like voting, it lets you take a broader view and ideate on which communities are ahead of the curve and how your organization could get more involved to help drive increased civic engagement.
      </div>
      <div class="faq">
          <h4>Question: Why don’t the numbers of individuals in Civic Explorer match the total number of individuals in the country? </h4>
          Answer: There are a few main reasons that the numbers you see may not match numbers you might see elsewhere:
          <ol>
          <li>Our data currently represents Americans aged 18+ who have registered to vote.</li>
          <li>Availability about people and communities varies widely based on vote history, geography, and personal history. Data coverage is a work in progress, and we’re continuously working to make our data more representative.</li>
          <li>People are always moving, and the address that we have associated with them may not be the same address from which they responded to the census. We are continuously refining our systems to incorporate change-of-address, voter registration, and geographic boundary estimation data to increase accuracy and refresh rate.</li>
          </ol>
      </div>
      <div class="faq">
          <h4>Question: Where does this data come from?</h4>
          Answer: The Civic Explorer leverages a range of observed and modeled data on individuals’ characteristics and behaviors, each of which are kept updated and often range back to 2010:
          <ul>
              <li>Individuals' and households' characteristics (demographics, vote history, etc.) derived from:
                  <ul>
                      <li>Voter file data</li>
                      <li>Commercial data</li>
                      <li>Census and ACS data</li>
                  </ul>
              </li>
              <li>Individual-level survey data, leveraging Helm's phone, online panel, and digital/RDE surveys</li>
              <li>Fundraising and donor data (individual contributions at the federal and state levels, including donor characteristics)</li>
              <li>Models and indices (Civic Score, partisanship, beliefs on issues, etc.)</li>
          </ul>

      </div>
      <div class="faq">
          <h4>Question: How often is the data updated?</h4>
          Answer: The frequency of updates depends on many factors, including geography, proximity to elections, and data source – but we push out major updates every month.
      </div>
      <div class="faq">
          <h4>Question: Whom should I contact for more information or questions?</h4>
          Answer: Email: help@civicexplorer.com
      </div>
  </div>
</div>
