<div id="container" [hidden]="loading">
    <div style="margin-bottom: 150px; margin-top: 100px;"><exp-loading-spinner></exp-loading-spinner></div>
</div>
<div *ngIf="loading" style="margin-bottom: 150px; margin-top: 100px;"><exp-loading-spinner></exp-loading-spinner></div>
<div class="buttons">
    <div class="button-wrapper">
        <button nzTooltipTitle="Zoom In" nzTooltipPlacement="left" nz-tooltip (click)="zoomInControls()"><i nz-icon nzType="plus" nzTheme="outline"></i></button>
    </div>
    <div class="button-wrapper">
        <button nzTooltipTitle="Zoom Out" nzTooltipPlacement="left" nz-tooltip (click)="zoomOutControls()"><i nz-icon nzType="minus" nzTheme="outline"></i></button>
    </div>
    <div *ngIf="selectedMap !== 'States' || geoFilterInUse" class="button-wrapper">
        <button nzTooltipTitle="Back to Nationwide" nzTooltipPlacement="left" nz-tooltip (click)="resetMap()"><i nz-icon nzType="rollback" nzTheme="outline"></i></button>
    </div>
    <div class="progress-bar-wrapper">
        <p style="margin-bottom: 10px;">AVERAGE CIVIC SCORE</p>
        <div id="progress-bar-container">
            <div class="progress-bar-child progress"></div>
            <div class="progress-bar-child shrinker timelapse"></div>
        </div>
        <p style="margin-bottom: 0;"><span style="margin-right: 38%;">0</span><span style="margin-right: 35%;">50</span><span>100</span></p>
    </div>
</div>
