.my-communities-button {
  margin-left: 20px;
  background: #1b1f21;
  border: 1px solid white;
}

.community {
  padding: 10px;
  border: 1px solid #f5f5f5;
  margin-bottom: 10px;
  position: relative;

  &:hover {
    background: #f5f5f5;
    box-shadow: 2px 2px 5px 1px rgba(162, 162, 162, 0.5);
    -webkit-box-shadow: 2px 2px 5px 1px rgba(162, 162, 162, 0.5);
    -moz-box-shadow: 2px 2px 5px 1px rgba(162, 162, 162, 0.5);
  }

  &.active {
    background: rgba(0, 174, 239, 0.08);
  }

  .community-name {
    color: #57affb;
    font-weight: bold;
    cursor: pointer;
  }

  .community-updated {
    color: #666;
    font-size: 12px;
    margin-bottom: 5px;
  }

  .community-actions {
    position: absolute;
    top: 10px;
    right: 0;

    .icon-actions {
      background: url('../../../../assets/images/kebab-icon.svg');
      background-repeat: no-repeat;
      background-size: cover;
      display: inline-block;
      height: 20px;
      width: 20px;
      filter: invert(100%) contrast(0.1);
    }
  }
}

.loading {
  text-align: center;
}
