:host {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.create-org-btn {
  width: 100%;
}

.validation-error {
  background-color: #FFE6E6;
  color: #000;
  max-width: 305px;
}

[nz-form] {
  min-width: 400px;
}