

// civics score colors
$civics-brown: #bf812d;
$civics-yellow: #dfc27d;
$civics-cream: #f6e8c3;
$civics-white: #e1ead7;
$civics-light-blue: #c7eae5;
$civics-blue: #80cdc1;
$civics-teal: #01665e;

$civics-level-one: #bf812d;
$civics-level-two: #dfc27d;
$civics-level-three: #f6e8c3;
$civics-level-four: #e1ead7;
$civics-level-five: #c7eae5;
$civics-level-six: #80cdc1;
$civics-level-seven: #01665e;
