<nz-layout class="page__layout mh-100">
  <nz-header class="header border-bottom px-3">
    <div
      class="user-dropdown d-flex align-items-center"
      nz-dropdown
      nzTrigger="click"
      [nzDropdownMenu]="menu"
    >
      <nz-avatar
        nzIcon="user">
       [nzSrc]="(userInfo$ | async)?.picture"
      </nz-avatar>
      <div class="user-name d-inline ms-3 fs-5 fw-bold">
       {{ (currOrgInfo$ | async)?.name }}
      </div>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item routerLink="/select-organization">Select Organization</li>
          <li nz-menu-divider></li>
          <li nz-menu-item><org-logout></org-logout></li>
        </ul>
      </nz-dropdown-menu>
    </div>
  </nz-header>
  <nz-layout>
    <nz-sider
      nz-collapsed
      nzTheme="light"
      nzWidth="58px"
      class="bg-light border-end"
    >
      <ul nz-menu nzMode="inline" [nzInlineIndent]="16" class="bg-light h-100">
        <li nz-menu-item class="my-3">
          <a routerLink="/dashboard/members">
            <i nz-icon nzType="appstore" nzTheme="fill" class="fs-4"></i>
          </a>
        </li>
        <li nz-menu-item class="my-3">
          <a routerLink="/explorer">
            <i nz-icon nzType="reconciliation" nzTheme="fill" class="fs-4"></i>
          </a>
        </li>
        <li nz-menu-item class="my-3">
          <i nz-icon nzType="camera" nzTheme="fill" class="fs-4"></i>
        </li>
        <li nz-menu-item class="my-3">
          <i nz-icon nzType="flag" nzTheme="fill" class="fs-4"></i>
        </li>
        <div class="bottom-menu">
          <li nz-menu-item class="my-3">
            <a routerLink="/faq">
              <i nz-icon nzType="question-circle" nzTheme="fill" class="fs-4"></i>
            </a>
          </li>
          <li nz-menu-item class="my-3">
            <a routerLink="/profile">
              <i nz-icon nzType="user" class="fs-4"></i>
            </a>
          </li>
        </div>
      </ul>
    </nz-sider>
    <nz-content class="content px-5 py-3 overflow-auto">
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
  <div class="tracking-warning-wrapper" *ngIf="showTrackingWarning">
    <div class="tracking-warning">
      <b>Explorer notice:</b> Hi there! While you use Explorer, we may collect analytics data from you with the help of our vendors. This data is only
      used for helping us improve our platform and troubleshooting user issues. To learn more about our general privacy
      practices, please visit <a href="https://www.helmteam.us/privacy-policy" target="_blank" >https://www.helmteam.us/privacy-policy</a>.
      <button (click)="acceptTracking()" class="dismiss-button" nz-button nzType="primary">Accept</button>
    </div>
  </div>
