:host {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.forgot-password-msg,
.password-form,
.forgot-password-header {
  width: 300px;
}

.reset-password-btn {
  width: 100%;
}

.validation-error {
  background-color: #FFE6E6;
  color: #000;
  max-width: 305px;
}