<h1 class="forgot-password-header">Forgot Password?</h1>
<p class="forgot-password-msg">Enter the email address you used when you joined and we'll send you instructions to reset your password.</p>
<form nz-form [formGroup]="recoverPasswordForm" (ngSubmit)="resetPassword()" class="password-form">
  <nz-form-item>
    <nz-form-control [nzErrorTip]="emailNotValid">
      <input nz-input nzRequired placeholder="Email address" formControlName="email" type="text"/>
      <ng-template #emailNotValid><div class="px-3 py-2 mb-3 mt-1 validation-error">Please enter a valid email</div></ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <button nz-button [disabled]="recoverPasswordForm.status === 'INVALID'" nzType="primary" class="reset-password-btn">Change Password</button>
    </nz-form-control>
  </nz-form-item>
</form>