.form-list-column-header {
  display: inline-flex;
  align-items: center;
  width: 100%;
}

.forms-table-operations {
  margin-bottom: 12px;
  button {
    margin-left: 6px;
    margin-right: 6px;
  }
}

.form-detail-search {
  width: 400px;
  margin-left: 10px;
  margin-right: 10px;
}

.form-detail {
  p {
    margin: 0px;
  }
}

.form-extra-info {
  font-size: 10px;
  color: #00000070;
}

.left-border {
  border-left: 1px solid #f0f0f0;
}
